<!-- [(selection)]="selectedProducts" -->
<!-- [value]="customers"
(click)="openNew()" -->
<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" ></button>
             <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
        </ng-template>
    </p-toolbar>

    <p-table
    #dt
    [value]="listCustomer"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Clientes</h5>
            <button>GET</button>
            <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" style="min-width:15rem">Nombre <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="surname">Apellido <p-sortIcon field="surname"></p-sortIcon></th>
            <th pSortableColumn="dni" style="min-width:10rem">DNI <p-sortIcon field="dni"></p-sortIcon></th>
            <th pSortableColumn="phone">Telefono <p-sortIcon field="phone"></p-sortIcon></th>
            <th pSortableColumn="clienState" style="min-width:10rem">Habilitado <p-sortIcon field="clienState"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>

    

    <ng-template pTemplate="body" >
        
         <ng-container *ngFor="let item of listCustomer">
            <tr>
                <td>
                    <p-tableCheckbox ></p-tableCheckbox>
                </td>
                <td>{{ item.name }}</td> 
                <td>{{ item.surname}}</td>
                <td>{{ item.dni }}</td>
                <td>{{ item.phone }}</td>
                <td>
                    <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': item.clientState, 'text-red-500 pi-times-circle': !item.clientState }"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                </td>
            </tr>
         </ng-container>
            
    
    </ng-template>
    <ng-template pTemplate="summary">
         <div class="flex align-items-center justify-content-between">En total aquí hay {{ customers ? customers.length : 0 }} clientes.</div>
    </ng-template>
</p-table>
</div>
<!-- [(ngModel)]="customer.name"
*ngIf="submitted && !customer.name"
[(ngModel)]="product.description" -->
<p-dialog [(visible)]="customerDialog" [style]="{ width: '850px' }" header="New Client" [modal]="true" styleClass="p-fluid">
    
        <ng-template pTemplate="content">
            <form #productsForm="ngForm" [formGroup]="myForm" (ngSubmit)="saveProduct(productsForm.value)">
                <div class="formgrid">
                    <div class="field card flex justify-content-center">
                        <label for="name">Nombre</label>
                        <input type="text" pInputText formControlName="name" name="cName"/>
                        <small class="p-error" >Name is required.</small> 
                    </div>
                    <div class="field card flex justify-content-center">
                        <label for="surname">Apellido</label>
                        <input type="text" pInputText formControlName="surname" name="cSurname"/>
                        <small class="p-error" >Surname is required.</small> 
                    </div>
                </div>
        
                <div class="formgrid">
                    <div class="field card flex justify-content-center">
                        <label for="dni">DNI</label>
                        <input type="number" pInputText formControlName="dni" name="cDni"/>
                        <small class="p-error" >DNI is required.</small> 
                    </div>
                    <div class="field card flex justify-content-center">
                        <label for="birthDate">Fecha de nacimiento</label>
                        <input type="date" pInputText formControlName="birthDate" name="cBirthDate"/>
                        <small class="p-error" >BirthDate is required.</small> 
                    </div>
                </div>
        
                <div class="phoneI">
                    <div class="field card flex justify-content-center">
                        <label for="phone">Telefono</label>
                        <input type="tel" pInputText formControlName="phone" name="cPhone"/>
                        <small class="p-error" >Phone is required.</small> 
                    </div>
                </div>
                
        
                <div class="formgrid">
                    
                    <div class="field card flex justify-content-center">
                        <label for="email">Email</label>
                        <input type="email" pInputText formControlName="email" name="cEmail"/>
                        <small class="p-error" >Email is required.</small> 
                    </div>
        
                    <div class="field card flex justify-content-center">
                        <label for="password">Password</label>
                        <input type="text" pInputText formControlName="password" name="cPassword"/>
                        <small class="p-error" >Password is required.</small> 
                    </div>
                </div>
                
                <div class="phoneI">
                    <div class="card flex justify-content-center">
                        <label>Habilitado</label>
                        <br/>
                        <p-inputSwitch formControlName="checkedState" labelPosition="right" name="cState"></p-inputSwitch>
                    </div>
                    <div class="card flex justify-content-center">
                        <label>Verificado</label>
                        <br/>
                        <p-inputSwitch formControlName="checkedVerify" labelPosition="right" name="cVerify"></p-inputSwitch>
                    </div>
                </div>
                <div class="phoneI">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" type="submit" icon="pi pi-check" class="p-button-text"></button> 
                </div>
            </form>
        </ng-template>
    
    
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>